img {
  max-width: 100%;
  max-height: 100%;
}

a,
p,
button,
span {
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-size: 13px;
}

h3 {
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

strong {
  font-weight: bold;
}

/* Navigation Bar */
nav {
  width: 100%;
  padding-top: 15px;
}

.header {
  margin-left: auto;
  margin-right: 0;
  padding-right: 25px;
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  color: black;
}

.header-bullet-image {
  height: 30px;
  width: 30px;
}

#more-products-link {
  opacity: 0.55;
}

#more-products-link:hover,
#more-products-link:focus {
  opacity: 0.85;
}

.header-image-link:focus {
  outline: none;
}

.header-link:hover,
.header-link:focus {
  text-decoration: underline;
  color: rgb(99, 99, 99);
  outline: none;
}

/*Main Content*/

.main-content {
  margin-top: 110px;
  width: 100%;
}

.google-logo {
  max-width: 272px;
  margin: 0 auto;
}

.search-bar {
  max-width: 580px;
  margin: 25px auto 19px auto;
  height: 44px;
  border-style: solid;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 582px;
}

.search-bar:hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.glass-img {
  height: 18px;
  padding: 0 0 3px 3px;
}

.input-search-bar {
  width: 80%;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  font-size: 16px;
}

.voice-img {
  height: 25px;
  cursor: pointer;
}

.search-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  display: inline-block;
}

button {
  height: 34px;
  padding: 0 16px;
  margin: 11px 4px;
  color: rgb(60, 64, 67);
  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(248, 249, 250);
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.lang-container {
  text-align: center;
  color: #202124;
  margin: 20px;
}

.language-link {
  color: #1a0dab;
}

.language-link:hover {
  text-decoration: underline;
}

.language-link:visited {
  color: #609;
}

/*Footer    */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(242, 242, 242);
  border-top: 1px solid rgb(218, 220, 224);
}

.location-footer {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#location-search-footer {
  margin: 13px 0 13px 30px;
}

.main-footer {
  padding: 13px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  border-top: 1px solid rgb(218, 220, 224);
}

.lh-footer {
  width: 360px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.rh-footer {
  width: 215px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer-font {
  color: rgb(112, 117, 122);
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

/* ==============================================
========== Search Results Page ==================
===============================================*/

/*Navigation Bar*/
#search-results-google-page {
  min-width: 1261px;
}

#results-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0 0 0;
}

#results-google-logo {
  height: 33px;
  margin: 3px 45px 0 24px;
  flex-shrink: 1;
}

#results-search-form {
  max-width: 692px;
  flex: 1 1 692px;
}

#results-search-bar {
  max-width: 100%;
  margin: 0;
}

#results-search-bar:hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#results-search-input {
  margin-left: 25px;
}

#results-voice-img {
  margin-left: auto;
}

#results-glass-img {
  height: 20px;
  margin-left: 15px;
  margin-right: 18px;
}

#results-rh-nav {
  margin-left: auto;
  margin-right: 20px;
  width: 100px;
  display: flex;
  flex: row;
  justify-content: space-evenly;
}

/* Search Type */

.search-type {
  padding-left: 169px;
  margin-top: 25px;
  font-size: 14px;
  color: rgb(95, 99, 104);
  display: flex;
  flex-direction: row;
  align-content: baseline;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.search-type-details {
  padding: 0 12px 12px 10px;
  margin: 0 1px 0 1px;
  vertical-align: middle;
  line-height: 16px;
}

#search-all {
  color: #1a73e8;
  border-bottom: 3px solid #1a73e8;
}

#search-settings {
  margin-left: 80px;
}

#safe-search {
  margin: 0 30px 0 auto;
}

i {
  vertical-align: text-bottom;
}

/* Search Results Main Content */

.search-results {
  width: 652px;
  margin: 10px 0 110px 170px;
  /*border: 1px dashed grey;*/
}

.page-result {
  margin: 0 0 20px 10px;
}

#no-results {
  color: #70757a;
  font-size: 14px;
  margin: 0 0 20px 10px;
}

.page-url {
  color: #202124;
  font-size: 14px;
  margin-bottom: 4px;
}

.page-cache {
  color: #5f6368;
}

.page-tile {
  margin: 2px 0 2px 0;
  color: rgb(26, 13, 171);
}

.page-link:hover > h3 {
  text-decoration: underline;
}

.page-content {
  color: #4d5156;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
}

.people-also-search {
  margin: 0 0 20px 10px;
  padding: 15px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.also-title {
  color: rgba(0, 0, 0, 0.57);
  margin-bottom: 4px;
}

.also-suggestions {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.rh-also-suggestions {
  margin-left: 20px;
}
.also-tags {
  color: #1a0dab;
  line-height: 24px;
}

.search-related {
  margin-left: 20px;
}

.search-related-title {
  font-family: "Google Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: rgb(32, 33, 36);
}

/* Footer */

.results-footer {
  padding-left: 150px;
}

#results-footer-location {
  font-size: 15px;
  padding: 6px 10px 5px 0;
  margin: 5px 10px 6px 0;
  margin-right: 10px;
  border-right: 1px solid rgb(218, 220, 224);
}

#results-footer-learn-more {
  color: rgb(80, 80, 80);
}

/* Google Fonts Icons */

.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

.material-icons-outlined.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons-outlined.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons-outlined.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons-outlined.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
