nav {
    width: 100%;
    padding-top: 15px;
}

img{
    max-width: 100%;
    max-height: 100%;
   /* display: block; /* remove extra space below image */
}

.header {
    margin-left: auto;
    margin-right: 0;
    padding-right: 25px;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-link:hover {
    text-decoration: underline;
    color: rgb(99, 99, 99);
    }

a, p{
    font-family: "Arial", sans-serif; 
    text-decoration: none;
    font-size: 13px;
}

.header-link {  
    color: black;
}

.header-bullet-image {
    height: 30px;
    width: 30px;
}

#more-products-link {
    opacity: 0.55;
}

#more-products-link:hover {
    opacity: 0.85;
}

main {
    padding-top: 150px;
    width: 100%;
}

.google-logo {
    max-width: 272px;
    margin: 0 auto;
}

.search-bar {
    max-width: 580px;
    margin: 30px auto;
    height: 44px;
    border-style: solid;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 582px;
}

.search-bar:hover {
    border-color: rgba(223,225, 229,0);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.glass-img {
    height: 18px;
    padding: 0 0 3px 3px
}

.input-search-bar {
    width: 80%;
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    font-size: 16px;
}

.voice-img{
    height: 25px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.location-footer {
    padding: 13px 0;
    margin-left: 30px;
    border-top: 1px solid rgb(218, 220, 224);
}

.main-footer {
    padding: 13px 0 13px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid rgb(218, 220, 224);
}

.lh-footer {
    width: 360px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rh-footer {
    width: 215px;
    margin-right: 16px ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer-font{
    color: rgb(112, 117, 122);
    font-size: 14px;
}


.footer-link:hover {
    text-decoration: underline;
}