nav {
    width: 100%;
    padding-top: 15px;
}

img{
    max-width: 100%;
    max-height: 100%;
   /* display: block; /* remove extra space below image */
}

.header {
    margin-left: auto;
    margin-right: 0;
    padding-right: 25px;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-link:hover {
    text-decoration: underline;
    color: rgb(99, 99, 99);
    
}

.header-link {
    font-family: "Arial", sans-serif;   
    text-decoration: none;
    font-size: 13px;
    color: black;

}

.header-bullet-image {
    height: 30px;
    width: 30px;
}

#more-products-link {
    opacity: 0.55;
}

#more-products-link:hover {
    opacity: 0.85;
}

main {
    padding-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}